#main-info {
    width: 100%;
    height: auto;
    background-color: #ff1769;
}

#gaming-info {
    width: 100%;
    height: auto;
    background-color: #00bcf2;
}

#home-info {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #252525;
}

.pageHeading {
    width: 100%;
    padding: 16px;
    padding-left: 0;
    color: #efefef;
    background-color: #483d8b;
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 20px;
    border-bottom: 1px solid #494949;
}

.form-reset {
    background-color: #708090;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    float: right;
}

    .form-reset:hover {
        background-color: #ffffff;
        color: #252525;
    }

.checkoutbtn {
    background-color: #3cb371;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    float: right;
    margin: 10px;
    margin-right: 0;
}

    .checkoutbtn:hover {
        background-color: #ffffff;
        color: #252525;
    }

#search {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}

#loginCom {
    font-size: 12px;
    width: 100%;
    height: 15px;
}

#search input[type="text"] {
    background: url("../Images/search-dark.png") 5px 3px no-repeat scroll #444444;
    border: none 0;
    border-radius: 20px 20px 20px 20px;
    color: #efefef;
    font: 12px Arial, Helvetica, Sans-serif;
    margin-top: 5px;
    padding: 2px 15px 2px 25px;
    width: 80px;
    border-radius: 20px;
    transition: all 0.7s 0s ease;
}

    #search input[type="text"]:focus {
        background: url(../Images/search-dark.png) 5px 3px no-repeat #fcfcfc;
        color: #6a6f75;
        width: 200px;
    }


#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    color: #fff;
    background-color: #242424;
}

.product {
    border: 1px solid #efefef;
    padding: 12px;
    background-color: #575757;
    margin: 10px;
    border-radius: 5px;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.45, #F2F2F2), color-stop(1, #EBEBEB) );
    background-image: -o-linear-gradient(bottom, #F2F2F2 45%, #EBEBEB 100%);
    background-image: -moz-linear-gradient(bottom, #F2F2F2 45%, #EBEBEB 100%);
    background-image: -webkit-linear-gradient(bottom, #F2F2F2 45%, #EBEBEB 100%);
    background-image: -ms-linear-gradient(bottom, #F2F2F2 45%, #EBEBEB 100%);
    background-image: linear-gradient(to bottom, #F2F2F2 45%, #EBEBEB 100%);
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
