@{
    ViewBag.Title = "ABOUT";
}
<div class="container">
    <h2>About Computerbucket</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>List of students and rolls</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    About Avril
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Avril.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    About Jaroslaw
                </div>
                <div class="col-md-4">
                    <img src="~/Images/download.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    About Marco
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Marco.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    About Ronan
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Ronan.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
