@{
    ViewBag.Title = "ABOUT";
}
<div class="container">
    <h2>About Computerbucket</h2>
    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Our Team:</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h3>Avril McGovern</h3>
                    <h4>Year 3, Web Development & Creative Media</h4>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Avril.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h3>Jaroslaw Jablonski</h3>
                    <h4>Year 3, Software Development</h4>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Jaroslaw.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h3>Marco Leite</h3>
                    <h4>Year 3, Software Development</h4>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Marco.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h3>Ronan Clancy</h3>
                    <h4>Year 3, Software Development</h4>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/Ronan.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
