@{
    ViewBag.Title = "ABOUT";
}
<div class="container">
    <div id="about_us">
        <div class="row">
            <div class="section_header">
                <h3>About Us</h3>
                <div class="border_dark"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="heading">This website is an outcome of PRJ300 project </div>
                <p class="newStyle">
                    The idea of the project appeared from the notion that buying a computer part by part is the cheaper way to have a very good computer. We intended to create user-friendly website, where people who even did not know what is inside a computer, can be guided through the process of building PC
                    </p>
                <p class="newStyle">
                    Below are people involved to make it happen
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/mainLogo.png" style="float:right; margin-right:50px;" />
            </div>
        </div>
        <div class="section_header">
            <h3>The Team</h3>
            <div class="border_dark"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <img src="~/Images/Avril.jpg" class="img-circle" />
                </div>
                <div class="col-md-6">
                    <h3>Avril McGovern</h3>
                    <h4>Year 3, Web Development & Creative Media</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <img src="~/Images/Jaroslaw.jpg" class="img-circle" />
                </div>
                <div class="col-md-6">
                    <h3>Jaroslaw Jablonski</h3>
                    <h4>Year 3, Software Development</h4>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="~/Images/Marco.jpg" class="img-circle" />
                    </div>
                    <div class="col-md-6">
                        <h3>Marco Leite</h3>
                        <h4>Year 3, Software Development</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="~/Images/Ronan.jpg" class="img-circle" />
                    </div>
                    <div class="col-md-6">
                        <h3>Ronan Clancy</h3>
                        <h4>Year 3, Software Development</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
