@{
    ViewBag.Title = "Help";
}


<div class="pageHeading">
    <div class="container">
        <div class="col-md-12">
            <h2 style="margin-top: 0;">Help</h2>
            <p>
                This page will help you to browse on the web site and to build your PC
                <br />
                <br />
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row well" id="helpTopics">
        <div class=" col-md-6">
            Somthing<br />
            Somthing<br />
            Somthing<br />
            Somthing<br />
            Somthing<br />
        </div>

        <div class="col-md-6">
            Somthing<br />
            Somthing<br />
            Somthing<br />
            Somthing<br />
            Somthing<br />
        </div>
    </div>

    <div class="row well" id="helpTopicsInfo">
        <div class="col-md-11">
            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>
        </div>


        <div class="col-md-11">
            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingS
                omthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>
        </div>


        <div class="col-md-11">
            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingS
                omthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>

        </div>

        <div class="col-md-11">
            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>
        </div>


        <div class="col-md-11">
            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>
        </div>

        <div class="row">
            <div class="col-md-11">
                <h3>Somthing</h3>
                <p>
                    SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthi
                    ngSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
                </p>
            </div>
        </div>

        <div class="col-md-11">

            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>
        </div>


        <div class="col-md-11">
            <h3>Somthing</h3>
            <p>
                SomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomt
                hingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthingSomthing
            </p>
        </div>
    </div>


