@{
    ViewBag.Title = "Help";
}


<div class="pageHeading">
    <div class="container">
        <div class="col-md-12">
            <h2 style="margin-top: 0;">Help</h2>
            <p>
                This page will help you to browse on the web site and to build your PC
             <br/>
             <br/>
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Technical</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>
</div>



