@{
    ViewBag.Title = "Help";
}


<div class="pageHeading" id="Top">
    <div class="container">
        <div class="col-md-12">
            <h2 style="margin-top: 0;">Help</h2>
            <p>
                This page will help you to build and buy your PC
             <br/>
             <br/>
            </p>
        </div>
    </div>
</div>

<div class="container"  >
            <div class="row">
                <div class="col-md-6">
                    <a href="#Upgrades"><p>Computer Upgrades</p></a> 
                    <a href="#Custom"><p>Custom Computers</p></a>
                    <a href="#Support"><p>Technical Support</p></a>         
                </div>
                <div class="col-md-6">
                    <a href="#Payments"><p>Payments </p></a>
                    <a href="#Delivery"><p>Shipping and Delivery </p></a>   
                    <a href="#Exchanges"><p>Returns and Exchanges </p></a>
                </div>
            </div>
</div>

  
      <div class="panel panel-default" id="Upgrades">
        <div class="panel-heading">
           <h3>Computer Upgrades</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Upgrade.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>We can extend the life of your computer by upgrading parts like memory or hard discs. Please use the Contact page and tell us about your problems and your needs. We can tell you whether it is better to upgrade your old PC or just to buy a new one. </p>
                <a href="#Top"><p>Top</p></a>
                </div>
            </div>
        </div>
    </div>





<div class="panel panel-default" id="Custom">
        <div class="panel-heading">
           <h3>Custom Computers</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Custom.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. Please contact our very skilled staff which will help you to select the best solution for you.</p>
                    <a href="#Top"><p>Top</p></a>
                </div>
            </div>
        </div>
    </div>

     
   

    <div class="panel panel-default" id="Support">
        <div class="panel-heading">
           <h3>Technical Support</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Support.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>Full technical support is offered for all offered prebuild PC, custom computers and upgrades done with assistance of our staff.  We can also help you to select the parts and put it all together for you. Please contact our staff for more information.</p>
                <a href="#Top"><p>Top</p></a>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" id="Payments">
        <div class="panel-heading">
           <h3>Payments</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Payment2.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>Many payments methods are possible. You will be informed about all available options in the confirming e-mail.  Cash on delivery payment,  Invoice payment and Postal money order payments are also available.</p>
                <a href="#Top"><p>Top</p></a>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" id="Delivery">
        <div class="panel-heading">
           <h3>Shipping and Delivery </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Delivery.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>Various shipping methods and delivery schedules are available depending on the type of product you are interested in ordering. You will be informed about all available options in the confirming e-mail, and you could choose the option which suits you best.  </p>
                <a href="#Top"><p>Top</p></a>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" id="Exchanges">
        <div class="panel-heading">
           <h3>Returns and Exchanges </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Exchange.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>You will get a year-long warranty and the peace of mind for all offered prebuild PC, custom computers and upgrades done with assistance of our staff. Returns and Exchanges are covered during the period of warranty.</p>
                <a href="#Top"><p>Top</p></a>
                </div>
            </div>
        </div>
    </div>






