@{
    ViewBag.Title = "Help";
}


<div class="pageHeading">
    <div class="container">
        <div class="col-md-12">
            <h2 style="margin-top: 0;">Help</h2>
            <p>
                This page will help you to build and buy your PC
             <br/>
             <br/>
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <a href="#Custom"><p>Custom Computers</p></a>
                    <a href="#Upgrades"><p>Computer Upgrades</p></a> 
                    <a href="#Support"><p>Technical Support</p></a>
                            
                </div>

                <div class="col-md-6">
                    <a href="#Payments"><p>Payments </p></a>
                    <a href="#Delivery"><p>Shipping and Delivery </p></a>   
                    <a href="#Exchanges"><p>Returns and Exchanges </p></a>
                  
                </div>
            </div>
        </div>
    </div>

  
     <div class="panel panel-default" id="Custom">
        <div class="panel-heading">
           <h3>Custom Computers</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Custom.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. You’ll get a year-long warranty and the peace of mind that it was done right.</p>
                </div>
            </div>
        </div>
    </div>

     
    <div class="panel panel-default" id="Upgrades">
        <div class="panel-heading">
           <h3>Computer Upgrades</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Upgrade.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. You’ll get a year-long warranty and the peace of mind that it was done right.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" id="Support">
        <div class="panel-heading">
           <h3>Technical Support</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Support.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. You’ll get a year-long warranty and the peace of mind that it was done right.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" id="Payments">
        <div class="panel-heading">
           <h3>Payments</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Payment2.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. You’ll get a year-long warranty and the peace of mind that it was done right.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" id="Delivery">
        <div class="panel-heading">
           <h3>Shipping and Delivery </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Delivery.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. You’ll get a year-long warranty and the peace of mind that it was done right.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" id="Exchanges">
        <div class="panel-heading">
           <h3>Returns and Exchanges </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/Exchange.png" style="width: 100px; height: 100px" />                
                </div>

                <div class="col-md-10">
                    <p>If you have specific requirements or just want a computer tailored to your needs, we can help you select the parts and put it all together for you. You’ll get a year-long warranty and the peace of mind that it was done right.</p>
                </div>
            </div>
        </div>
    </div>




     
</div>



