@{
    ViewBag.Title = "HELP";
}

<h2>This page will help the user to browse on the web site</h2>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Technical</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">
           <h3>Topics</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Technical                 
                </div>

                <div class="col-md-6">
                    Payments
                </div>
            </div>
        </div>
    </div>
</div>



