@{
    ViewBag.Title = "Success";
}

<div class="container text-center">
    <h2>Sucess</h2>
    <h4>Your Order was successfully submited. Please check your email for futher details.</h4>
    <h3>Thank you</h3>

</div>
