@{
    ViewBag.Title = "Home Page";
}


<div id="main-info">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Build your own computer today! Within 5 minuites you could have your dream computer.</h4>
                <h5>Buy with confidence from the #1 provider of PCs to worldwide businesses. We deliver powerful, reliable, and affordable computers, businesses, and enterprises. 
                    CB offers a wide varity of computers prepared to Gaming, to Work, or to simply use at Home.
                </h5>
                <div class="row">
                    @Html.ActionLink("Start", "Index", "BuildPC", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Images/Computer-icon.png" height="200" width="250" alt="BuildPC image" />
            </div>
        </div>

    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row-fluid text-center">
                        <h3>Gaming Computers</h3>
                    </div>
                    <div class="row text-center">
                        <img src="~/Images/gaming.png" height="120" width="180" alt="Gaming image" />
                    </div>
                    <div class="row text-center">
                        <h5>Games is what you love? Love the get the best performances and graphics when playing? Take a look gaming offers:</h5>
                    </div>
                    <div class="row-fluid text-center">
                        <a href="#" class="btn btn-success btn-ss" role="button">See now</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row-fluid text-center">
                        <h3>Business Computers</h3>
                    </div>
                    <div class="row text-center">
                        <img src="~/Images/business.png" height="120" width="180" alt="Business image" />
                    </div>
                    <div class="row text-center">
                        <h5>Opening a new company? Need new computers to your company? Take a look in our business offers:</h5>
                    </div>
                    <div class="row-fluid text-center">
                        <a href="#" class="btn btn-success btn-ss" role="button">See now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row-fluid text-center">
                        <h3>Home computers</h3>
                    </div>
                    <div class="row text-center">
                        <img src="~/Images/home_computer.png" height="120" width="180" alt="Home image" />
                    </div>
                    <div class="row text-center">
                        <h5>Your desktop computer at home is getting older and slow? Take a look in our home offers:</h5>
                    </div>
                    <div class="row-fluid text-center">
                        <a href="#" class="btn btn-success btn-ss" role="button">See now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
